---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Blog" description="Read my usual shenanengss.">
  <header></header>
  <div>
    <div class="content">
      <slot />
    </div>
  </div>
</Layout>
